.wrapper_avatar {
  margin: 50px 0;
}

.profile_photo {
  margin: 0px auto 15px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.profile_photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}