.button_add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  margin-top: 5px;
  padding: 4px 4px;
  border-radius: 5px;
  box-shadow: 0 0 5px #001828;
  font-size: x-small;
  color: #001828;

}

.button_logo {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
